@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 213.1 93.9% 67.8%;
    --chart-3: 213.3 96.9% 87.3%;
    --chart-4: 217.2 91.2% 59.8%;
    --chart-5: 224.3 76.3% 48%;
    scrollbar-color: #3b82f6 #e6e6e6;
  }

  /* .dark {
    --gradient: linear-gradient(to top left, #4776e6, #8e54e9);

    --background: 236 49.4% 4.72%;
    --foreground: 236 7.6% 97.95%;

    --muted: 236 38% 17.7%;
    --muted-foreground: 236 7.6% 55.9%;

    --popover: 236 49.8% 7.67%;
    --popover-foreground: 236 7.6% 97.95%;

    --card: 236 49.8% 7.67%;
    --card-foreground: 236 7.6% 97.95%;

    --border: 236 38% 17.7%;
    --input: 236 38% 17.7%;

    --primary: 236 76% 59%;
    --primary-foreground: 236 7.6% 5.8999999999999995%;

    --secondary: 236 38% 17.7%;
    --secondary-foreground: 236 7.6% 97.95%;

    --accent: 236 38% 17.7%;
    --accent-foreground: 236 7.6% 97.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 236 7.6% 97.95%;

    --ring: 236 76% 59%;
    --chart-1: 236 76% 59%;
    --chart-2: 236 76% 40%;
    --chart-3: 236 50% 30%;
    --chart-4: 236 20 59%;
    --chart-5: 236 55% 55%;
  } */

  .dark {
    --background: 118 52% 1%;
    --foreground: 118 37% 98%;
    --muted: 118 35% 15%;
    --muted-foreground: 118 3% 74%;
    --popover: 118 52% 1%;
    --popover-foreground: 118 37% 98%;
    --card: 118 52% 1%;
    --card-foreground: 118 37% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 118 82% 63%;
    --primary-foreground: 118 82% 3%;
    --secondary: 118 5% 12%;
    --secondary-foreground: 118 5% 72%;
    --accent: 118 11% 19%;
    --accent-foreground: 118 11% 79%;
    --destructive: 15 90% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 118 82% 63%;
    --chart-1: 118 84% 52%;
    --chart-2: 118 59% 41%;
    --chart-3: 118 33% 60%;
    --chart-4: 118 52% 18%;
    --chart-5: 118 12% 28%;
    scrollbar-color: #12c02f #131615;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 213.1 93.9% 67.8%;
    --chart-3: 213.3 96.9% 87.3%;
    --chart-4: 217.2 91.2% 59.8%;
    --chart-5: 224.3 76.3% 48%;
    scrollbar-color: #3b82f6 #1f2937;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scrollbar-width: thin;
}
